<a href="https://colab.research.google.com/github/dho619/TCC_Pos_IA/blob/main/AnaliseExploracaoDosDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
df = pd.read_csv('./Walmart.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [8]:
#Para documentação de passo a passo e justificativa dessa função, pode encontrá-la no arquivo TratamentoDosDados.ipynb
def TratarDadosBaseWalmart(df):
  df.Date=pd.to_datetime(df.Date)
  df['Day'] = df.Date.dt.day
  df['Month'] = df.Date.dt.month
  df['Year'] = df.Date.dt.year
  df.drop(['Date'], axis=1, inplace=True)

  df.drop_duplicates(inplace=True)

  ignoreFeatures = ['Weekly_Sales', 'Day']
  maximumToBeCategorical = 45
  features = [i for i in df.columns if i not in ignoreFeatures]
  uniqueValuesForFeature = df[features].nunique().sort_values()
  categoricalFeature = [];
  valuesFeature = [];
  for i in range(df[features].shape[1]):
      if uniqueValuesForFeature.values[i]<=maximumToBeCategorical:
          categoricalFeature.append(uniqueValuesForFeature.index[i])
      else:
          valuesFeature.append(uniqueValuesForFeature.index[i])
  for i in categoricalFeature:
    if df[i].nunique()==2:
        df[i]=pd.get_dummies(df[i], drop_first=True, prefix=str(i))
    if (df[i].nunique()>2):
        df = pd.concat([df.drop([i], axis=1), pd.DataFrame(pd.get_dummies(df[i], prefix=str(i)))],axis=1)
    
  return df

In [10]:
df_original = df.copy(deep=True)
df = TratarDadosBaseWalmart(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6435 entries, 0 to 6434
Data columns (total 67 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Weekly_Sales  6435 non-null   float64
 1   Holiday_Flag  6435 non-null   uint8
 2   Temperature   6435 non-null   float64
 3   Fuel_Price    6435 non-null   float64
 4   CPI           6435 non-null   float64
 5   Unemployment  6435 non-null   float64
 6   Day           6435 non-null   int64
 7   Year_2010     6435 non-null   uint8
 8   Year_2011     6435 non-null   uint8
 9   Year_2012     6435 non-null   uint8
 10  Month_1       6435 non-null   uint8
 11  Month_2       6435 non-null   uint8
 12  Month_3       6435 non-null   uint8
 13  Month_4       6435 non-null   uint8
 14  Month_5       6435 non-null   uint8
 15  Month_6       6435 non-null   uint8
 16  Month_7       6435 non-null   uint8
 17  Month_8       6435 non-null   uint8
 18  Month_9       6435 non-null   uint8
 19  Month_10      6435 non-null   uint8
 20  Month_11      6435 non-null   uint8
 21  Month_12      6435 non-null   uint8
 22  Store_1       6435 non-null   uint8
 23  Store_2       6435 non-null   uint8
 24  Store_3       6435 non-null   uint8
 25  Store_4       6435 non-null   uint8
 26  Store_5       6435 non-null   uint8
 27  Store_6       6435 non-null   uint8
 28  Store_7       6435 non-null   uint8
 29  Store_8       6435 non-null   uint8
 30  Store_9       6435 non-null   uint8
 31  Store_10      6435 non-null   uint8
 32  Store_11      6435 non-null   uint8
 33  Store_12      6435 non-null   uint8
 34  Store_13      6435 non-null   uint8
 35  Store_14      6435 non-null   uint8
 36  Store_15      6435 non-null   uint8
 37  Store_16      6435 non-null   uint8
 38  Store_17      6435 non-null   uint8
 39  Store_18      6435 non-null   uint8
 40  Store_19      6435 non-null   uint8
 41  Store_20      6435 non-null   uint8
 42  Store_21      6435 non-null   uint8
 43  Store_22      6435 non-null   uint8
 44  Store_23      6435 non-null   uint8
 45  Store_24      6435 non-null   uint8
 46  Store_25      6435 non-null   uint8
 47  Store_26      6435 non-null   uint8
 48  Store_27      6435 non-null   uint8
 49  Store_28      6435 non-null   uint8
 50  Store_29      6435 non-null   uint8
 51  Store_30      6435 non-null   uint8
 52  Store_31      6435 non-null   uint8
 53  Store_32      6435 non-null   uint8
 54  Store_33      6435 non-null   uint8
 55  Store_34      6435 non-null   uint8
 56  Store_35      6435 non-null   uint8
 57  Store_36      6435 non-null   uint8
 58  Store_37      6435 non-null   uint8
 59  Store_38      6435 non-null   uint8
 60  Store_39      6435 non-null   uint8
 61  Store_40      6435 non-null   uint8
 62  Store_41      6435 non-null   uint8
 63  Store_42      6435 non-null   uint8
 64  Store_43      6435 non-null   uint8
 65  Store_44      6435 non-null   uint8
 66  Store_45      6435 non-null   uint8
dtypes: float64(5), int64(1), uint8(61)
memory usage: 735.2 KB