<a href="https://colab.research.google.com/github/dho619/TCC_Pos_IA/blob/main/TratamentoDosDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
df = pd.read_csv('./Walmart.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [31]:
#transformando o campo de date que estava como object, para datetime
df.Date=pd.to_datetime(df.Date)

#separando a data em 3 colunas (dia, mês e ano)
df['Day'] = df.Date.dt.day
df['Month'] = df.Date.dt.month
df['Year'] = df.Date.dt.year

#removendo a coluna de data original
df.drop(['Date'], axis=1, inplace=True)

df.head

<bound method NDFrame.head of       Store  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price         CPI  \
0         1    1643690.90             0        42.31       2.572  211.096358
1         1    1641957.44             1        38.51       2.548  211.242170
2         1    1611968.17             0        39.93       2.514  211.289143
3         1    1409727.59             0        46.63       2.561  211.319643
4         1    1554806.68             0        46.50       2.625  211.350143
...     ...           ...           ...          ...         ...         ...
6430     45     713173.95             0        64.88       3.997  192.013558
6431     45     733455.07             0        64.89       3.985  192.170412
6432     45     734464.36             0        54.47       4.000  192.327265
6433     45     718125.53             0        56.47       3.969  192.330854
6434     45     760281.43             0        58.85       3.882  192.308899

      Unemployment  Day  Month  Year
0            8.106    2      5  2010
1            8.106    2     12  2010
2            8.106   19      2  2010
3            8.106   26      2  2010
4            8.106    3      5  2010
...            ...  ...    ...   ...
6430         8.684   28      9  2012
6431         8.667   10      5  2012
6432         8.667   10     12  2012
6433         8.667   19     10  2012
6434         8.667   26     10  2012

[6435 rows x 10 columns]>

In [32]:
#Fazendo uma cópia para manter o Data Frame original
original_df = df.copy(deep=True);

In [33]:
#pegando o shape
rows,cols = original_df.shape;

#removendo linhas duplicadas
df.drop_duplicates(inplace=True);

if df.shape==(rows,cols):
    print("Não existe linhas duplicadas");
else:
    print("Foram removidas {} linhas duplicadas!".format(rows-df.shape[0]));

Não existe linhas duplicadas

In [34]:
#Verificando se existe valores null, nesse caso não tem
df.isnull().sum().sort_values()

Store           0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
Day             0
Month           0
Year            0
dtype: int64

In [35]:
#Ignorar as colunas
ignoreFeatures = ['Weekly_Sales', 'day'];
#variável para definir até quantos valores unicos uma coluna pode ter e ainda considerada categorical
maximumToBeCategorical = 45; #45 por ser o total de lojas

#pegar as colunas, menos as ignoradas
features = [i for i in df.columns if i not in ignoreFeatures]

#pega a quantidade de valores unicos para cara coluna
uniqueValuesForFeature = df[features].nunique().sort_values()

#Adiciona nas lista se for uma coluna de categorias ou de valores
categoricalFeature = [];
valuesFeature = [];
for i in range(df[features].shape[1]):
    if uniqueValuesForFeature.values[i]<=maximumToBeCategorical:
        categoricalFeature.append(uniqueValuesForFeature.index[i])
    else:
        valuesFeature.append(uniqueValuesForFeature.index[i])
print(categoricalFeature)
print(valuesFeature)

['Holiday_Flag', 'Year', 'Month', 'Day', 'Store']
['Unemployment', 'Fuel_Price', 'CPI', 'Temperature']

In [36]:
df2 = df.copy()

#Transforma cada valor unico das colunas selecionadas, em novas colunas
#e seta como true ou false, de acordo com o valor original
for i in categoricalFeature:
    if df2[i].nunique()==2:
        df2[i]=pd.get_dummies(df2[i], drop_first=True, prefix=str(i))
    if (df2[i].nunique()>2):
        df2 = pd.concat([df2.drop([i], axis=1), pd.DataFrame(pd.get_dummies(df2[i], prefix=str(i)))],axis=1)
        
df2.shape

(6435, 97)

In [37]:
df3 = df2.copy()

#Apenas analisando os possíveis outlers e se necessário deletar
for i in valuesFeature:
    Q1 = df3[i].quantile(0.25)
    Q3 = df3[i].quantile(0.75)
    IQR = Q3 - Q1
    #Calculos comumente aceitos para encontrar outliers
    print("Coluna {} tem {} outliers (para cima)".format(i, rows - df3[df3[i] <= (Q3+(1.5*IQR))].shape[0]))
    print("Coluna {} tem {} outliers (para baixo)".format(i, rows - df3[df3[i] >= (Q1-(1.5*IQR))].shape[0]))
    #remover os outliers (nesse caso, foi opitado por não fazer)
    #df3 = df3[df3[i] <= (Q3+(1.5*IQR))]
    #df3 = df3[df3[i] >= (Q1-(1.5*IQR))]
    #df3 = df3.reset_index(drop=True) #resetar os index
'''
 Como a maioria dos outliers estão relacionadas a taxa de desemprego e os demais na temperatura,
 decidi por manter os registros para evitar tirar o enfluenciamento dessas variáveis nas vendas
'''

Coluna Unemployment tem 378 outliers (para cima)
Coluna Unemployment tem 103 outliers (para baixo)
Coluna Fuel_Price tem 0 outliers (para cima)
Coluna Fuel_Price tem 0 outliers (para baixo)
Coluna CPI tem 0 outliers (para cima)
Coluna CPI tem 0 outliers (para baixo)
Coluna Temperature tem 0 outliers (para cima)
Coluna Temperature tem 3 outliers (para baixo)

'\n Como a maioria dos outliers estão relacionadas a taxa de desemprego e os demais na temperatura,\n decidi por manter os registros para evitar tirar o enfluenciamento dessas variáveis nas vendas\n'

In [38]:
#Apenas voltando a variavel para df
df = df3.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6435 entries, 0 to 6434
Data columns (total 97 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Weekly_Sales  6435 non-null   float64
 1   Holiday_Flag  6435 non-null   uint8
 2   Temperature   6435 non-null   float64
 3   Fuel_Price    6435 non-null   float64
 4   CPI           6435 non-null   float64
 5   Unemployment  6435 non-null   float64
 6   Year_2010     6435 non-null   uint8
 7   Year_2011     6435 non-null   uint8
 8   Year_2012     6435 non-null   uint8
 9   Month_1       6435 non-null   uint8
 10  Month_2       6435 non-null   uint8
 11  Month_3       6435 non-null   uint8
 12  Month_4       6435 non-null   uint8
 13  Month_5       6435 non-null   uint8
 14  Month_6       6435 non-null   uint8
 15  Month_7       6435 non-null   uint8
 16  Month_8       6435 non-null   uint8
 17  Month_9       6435 non-null   uint8
 18  Month_10      6435 non-null   uint8
 19  Month_11      6435 non-null   uint8
 20  Month_12      6435 non-null   uint8
 21  Day_1         6435 non-null   uint8
 22  Day_2         6435 non-null   uint8
 23  Day_3         6435 non-null   uint8
 24  Day_4         6435 non-null   uint8
 25  Day_5         6435 non-null   uint8
 26  Day_6         6435 non-null   uint8
 27  Day_7         6435 non-null   uint8
 28  Day_8         6435 non-null   uint8
 29  Day_9         6435 non-null   uint8
 30  Day_10        6435 non-null   uint8
 31  Day_11        6435 non-null   uint8
 32  Day_12        6435 non-null   uint8
 33  Day_13        6435 non-null   uint8
 34  Day_14        6435 non-null   uint8
 35  Day_15        6435 non-null   uint8
 36  Day_16        6435 non-null   uint8
 37  Day_17        6435 non-null   uint8
 38  Day_18        6435 non-null   uint8
 39  Day_19        6435 non-null   uint8
 40  Day_20        6435 non-null   uint8
 41  Day_21        6435 non-null   uint8
 42  Day_22        6435 non-null   uint8
 43  Day_23        6435 non-null   uint8
 44  Day_24        6435 non-null   uint8
 45  Day_25        6435 non-null   uint8
 46  Day_26        6435 non-null   uint8
 47  Day_27        6435 non-null   uint8
 48  Day_28        6435 non-null   uint8
 49  Day_29        6435 non-null   uint8
 50  Day_30        6435 non-null   uint8
 51  Day_31        6435 non-null   uint8
 52  Store_1       6435 non-null   uint8
 53  Store_2       6435 non-null   uint8
 54  Store_3       6435 non-null   uint8
 55  Store_4       6435 non-null   uint8
 56  Store_5       6435 non-null   uint8
 57  Store_6       6435 non-null   uint8
 58  Store_7       6435 non-null   uint8
 59  Store_8       6435 non-null   uint8
 60  Store_9       6435 non-null   uint8
 61  Store_10      6435 non-null   uint8
 62  Store_11      6435 non-null   uint8
 63  Store_12      6435 non-null   uint8
 64  Store_13      6435 non-null   uint8
 65  Store_14      6435 non-null   uint8
 66  Store_15      6435 non-null   uint8
 67  Store_16      6435 non-null   uint8
 68  Store_17      6435 non-null   uint8
 69  Store_18      6435 non-null   uint8
 70  Store_19      6435 non-null   uint8
 71  Store_20      6435 non-null   uint8
 72  Store_21      6435 non-null   uint8
 73  Store_22      6435 non-null   uint8
 74  Store_23      6435 non-null   uint8
 75  Store_24      6435 non-null   uint8
 76  Store_25      6435 non-null   uint8
 77  Store_26      6435 non-null   uint8
 78  Store_27      6435 non-null   uint8
 79  Store_28      6435 non-null   uint8
 80  Store_29      6435 non-null   uint8
 81  Store_30      6435 non-null   uint8
 82  Store_31      6435 non-null   uint8
 83  Store_32      6435 non-null   uint8
 84  Store_33      6435 non-null   uint8
 85  Store_34      6435 non-null   uint8
 86  Store_35      6435 non-null   uint8
 87  Store_36      6435 non-null   uint8
 88  Store_37      6435 non-null   uint8
 89  Store_38      6435 non-null   uint8
 90  Store_39      6435 non-null   uint8
 91  Store_40      6435 non-null   uint8
 92  Store_41      6435 non-null   uint8
 93  Store_42      6435 non-null   uint8
 94  Store_43      6435 non-null   uint8
 95  Store_44      6435 non-null   uint8
 96  Store_45      6435 non-null   uint8
dtypes: float64(5), uint8(92)
memory usage: 879.8 KB

In [39]:
df.to_csv("Walmart_tratado.csv")